.row {
    margin-top: 20px;
    border-top: solid 5px #00F9A9;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.32);
    background-color: #F5FFFA;
    border-radius: 4px;
}

body {
    background-color: #F0FFF0;
}

.navbar-default {
    background-color: #CEF9DC;
    border-bottom: double 5px #00F9A9;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-heading {
    border-radius: 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.32);
}

.btn, .form-control {
     box-shadow: 0 4px 5px rgba(0, 0, 0, 0.32);
     margin-bottom: 10px; 
}

.pagination {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.32);
    border-radius: 4px;
}