.row {
    margin-top: 20px;
    border-top: solid 5px #00F9A9;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.32);
    background-color: #F5FFFA;
}

body {
    background-color: #F0FFF0;
}

.navbar-default {
    background-color: #CEF9DC;
    border-bottom: double 5px #00F9A9;
}

.form-group {
    margin-bottom: 10px;
}
